RewriteEngine on

## http://monicalent.com/blog/2013/09/01/create-server-side-fallback-html5-push-state-backbone-js/
#RewriteEngine On
#RewriteBase /
#RewriteRule ^index\.php$ - [L] 
#RewriteCond %{REQUEST_FILENAME} !-f 
#RewriteCond %{REQUEST_FILENAME} !-d 
#RewriteRule ^(.*)$ index.php [L]


#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond %{REQUEST_URI} !index
#RewriteRule ^(.*) index.php [L]




RewriteRule ^matcat(\/.*)*$ /masterfiles/matcat.php
RewriteRule ^itemcat(\/.*)*$ /masterfiles/itemcat.php
RewriteRule ^account(\/.*)*$ /masterfiles/account.php
RewriteRule ^acctcat(\/.*)*$ /masterfiles/acctcat.php
RewriteRule ^item(\/.*)*$ /masterfiles/item.php
RewriteRule ^material(\/.*)*$ /masterfiles/material.php
RewriteRule ^bank(\/.*)*$ /masterfiles/bank.php
RewriteRule ^supplier(\/.*)*$ /masterfiles/supplier.php
#RewriteRule ^dashboard(\/.*)*$ /index.php
#RewriteRule ^login(\/.*)*$ /login.php
#RewriteRule ^logout(\/.*)*$ /logout.php



